<h1>Vendor Details:</h1>

<h2>Vendor Name: @Model.Name</h2>
<h2>Vendor Description: @Model.Description</h2>
@if(Model.Orders.Count == 0)
{
  <p>This Vendor has no orders</p>
}


<a href="/vendors">Return to Vendor list</a>