<h1>Add a new Order</h1>

<form action="/vendors/{id}/orders" method="post">
  <label for="title">Title of Order</label>
  <input id="title" name="title" type="text">
  <label for="description">Describe order</label>
  <input id="description" name="description" type="text">
  <label for="price">Input price of order</label>
  <input id="price" name="price" type="number">
  <label for="date">Input date of order</label>
  <input id="date" name="date" type="text">
  <button type="submit">Submit new order</button>

</form>